<Files>
/share/nas2/genome/biosoft/FusionMap/current/TestDataset/input/DatasetP2_SimulatedReads.bam

<Options>
//MonoPath option is required when path to mono are not in PATH and job cannot start for spawn off jobs
MonoPath=/share/nas2/genome/biosoft/mono/current/bin/mono
FileFormat=BAM			// possible values: SAM, BAM. Default value=SAM 
RnaMode=True			//Possible values: True, False. Default value=True 
MinimalHit=2			//Possible values: 1-5, Default value =2, minimal read pairs
ReportUnannotatedFusion=False //Possible values: True, False. Default value = False
FusionReportCutoff=1	//Possible values: 1-1000. Default value=1, require unique mapping of each read
OutputFusionReads=True	//Possible values: True, False. Default value = True 
MinimalFusionSpan=5000		//Minimal distance (bp) between two fusion breakpoints

<Output>
TempPath=/share/nas21/gaom/testing/circos/fusion/map2/tmp
OutputPath=/share/nas21/gaom/testing/circos/fusion/map2/
OutputName=04_PEFusion
