#######
#
# detail CFG file for Ref Trans Pipline
#
########

######################################## project basic info
## project name
Project_name                            ��ũ���4������ת¼������������Ŀ

## client department
Customer_info                           �Ͼ�ũҵ��ѧ�����ѧѧԺ

## project issue id
Project_id                              BMK131025-656

## output prefix, species name usually
Project_key                             Maize



######################################## preparation files
## known unigene (longest transcript) sequence file, FASTA format
Known_unigene       /share/nas17/yangxh/Project/Maize_Transcriptome_BMK130131-400/Maize_Transcriptome_20131108/Preparation/Gene/Known.longest_transcript.fa

## protein sequence of known unigene (longest transcript) file, FASTA format
Known_pep           /share/nas17/yangxh/Project/Maize_Transcriptome_BMK130131-400/Maize_Transcriptome_20131108/Preparation/Gene/Known.longest_transcript_pep.fa

## known unigene function annotation result path
Known_anno          /share/nas17/yangxh/Project/Maize_Transcriptome_BMK130131-400/Maize_Transcriptome_20131108/Preparation/Known_Anno/



######################################## main pipeline
########################## reference assembly
## genome sequence file, FAST format
#Ref_seq             /share/nas19/yangxh/Database/genome/Zea_mays/ZmB73_RefGen_v2.fa
Ref_seq             /share/nas2/database/maize/maize_5b.fa

## genome annotation file, GFF3 format
#Ref_ann             /share/nas19/yangxh/Database/genome/Zea_mays/ZmB73_5b_FGS.gff
Ref_ann             /share/nas2/database/JGI/phytozome/Zea_mays/annotation/Zmays_181_gene.gff3



######################################## gene fusion files
## You can download database from : https://ccb.jhu.edu/software/tophat/fusion_tutorial.html#directory

RefGene      /share/nas21/huangls/database/human/hg19/refGene.txt

## protein sequence of known unigene (longest transcript) file, FASTA format
EnsGene      /share/nas21/huangls/database/human/hg19/ensGene.txt

## known unigene function annotation result path
Bowtie1      /share/nas21/huangls/database/human/hg19/genome



########################## RNA-Seq library
## RNA-Seq library type: fr-unstranded (default), fr-firststrand, or fr-secondstrand
Lib_type                                fr-unstranded


########################## Tophat & Cufflinks
## max mismatches allowed
Mismatch                                2

## pair-ends inner distance
Insert_size                             40

## computational memory and queue
Memory                                  15G
Queue_type                              middle.q


########################## SNP analysis
## parameter for adjusting mapQ
SNP_C                                   50
## Depth range for filtering SNP
SNP_D                                   5-100
## minimum mapping quality value
SNP_Q                                   20
## minimum multi_SNP range
SNP_M                                   5



######################################## function annotation
## CPU for alignment
blast_cpu                               50
hmmscan_cpu                             4

## E-value cutoff for BLAST
blast_e                                 1e-5

## unigene number per split file to align
blast_cut                               200


## databases to search
#nt                /share/nas2/database/ncbi/Nt_Nr_division/nt_PLN
nr                  /share/nas2/database/ncbi/Nt_Nr_division/nr_PLN
#TrEMBL            /share/nas2/database/uniprot/knowledgebase/current/TrEMBL_Divide/uniprot_trembl_plants.fasta
Swissprot           /share/nas2/database/uniprot/knowledgebase/current/TrEMBL_Divide/uniprot_sprot_plants.fasta
Kegg                /share/nas2/database/kegg/kegg_divide/Plants.fa
#Pfam                /share/nas2/database/pfam/27.0/Pfam-A.hmm
Cog                 /share/nas2/database/cog/myva
#Kog                 /share/nas2/database/kog/kyva



######################################## DEG analysis
## DEG sets, biological replicates marked by Sep, else by Com
#Sep                                    E1,E2,E3;E4,E5,E6
#Com                                    E4,E5
Sep                                     T1,T2;T3,T4
Com                                     T1,T3
Com                                     T2,T4

## DEG fold
fold                                    2

## FDR threshold
FDR                                     0.01




########################################### function annotation database options #######################################
################# nr & nt Database Type
#       |  BCT     |  Bacteria
#       |  INV     |  Invertebrates
#       |  MAM     |  Mammals
#       |  PHG     |  Phages
#       |  PLN     |  Plants
#       |  PRI     |  Primates
#       |  ROD     |  Rodents
#       |  SYN     |  Synthetic
#       |  UNA     |  Unassigned  |   No species nodesshould inherit this division assignment
#       |  VRL     |  Viruses     ����
#       |  VRT     |  Vertebrates ��׵����
#       |  ENV     |  Environmental samples  |  Anonymoussequences cloned directly from the environment
#
#       Change The suffix of nr_PLN for your own species (The Same with nt Database)
###### if you can't defined the CLASS of your species Choose complete nr & nt
#nr                /share/nas2/database/ncbi/nr
#nt                /share/nas2/database/ncbi/nt

################## TrEMBL Database Type
#       |  archaea        |  �����
#       |  bacteria       |  ϸ��
#       |  fungi          |  ���
#       |  human          |  ����
#       |  invertebrates  |  �޼�׵����
#       |  mammals        |  ���鶯��
#       |  plants         |  ֲ��
#       |  rodents        |  ������
#       |  unclassified   |  Unassigned  |   No species nodesshould inherit this division assignment
#       |  vertebrates    |  ��׵����
#       |  viruses        |  ����
#
#       Change The suffix of trembl_plants for your own species (The Same with nt Database)
###### if you can't defined the CLASS of your species Choose complete TrEMBL
#TrEMBL            /share/nas2/database/uniprot/knowledgebase/current/complete/uniprot_trembl.fasta

