svg2xxx		/share/nas2/genome/bmksoft/tool/svg2xxx/v1.0/svg2xxx
kegg		/share/nas2/database/KEGG/20150511/20150511/
kegg_png_file	/share/nas2/database/KEGG/20150511/20150511/
component_file	/share/nas2/database/GO/releases20141211/GO_Classify/cellular_component.txt
function_file	/share/nas2/database/GO/releases20141211/GO_Classify/molecular_function.txt
process_file	/share/nas2/database/GO/releases20141211/GO_Classify/biological_process.txt
distributing_svg2	/share/nas2/genome/bmksoft/tool/distributing_svg/v4.75/distributing_svg.pl
svg2xxx2	/share/nas2/genome/bmksoft/tool/svg2xxx/v1.0/svg2xxx
Rscript		/share/nas2/genome/biosoft/R/3.1.1/bin/Rscript
kegg_anno_file	/share/nas2/database/KEGG/kegg.anno
