.svgBackground{
  fill:none;
}
.graphBackground{
  fill:#f0f0f0;
}

/* graphs titles */
.mainTitle{
  text-anchor: middle;
  fill: #000000;
  font-size: 20px;
  margin:10px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
}
.subTitle{
  text-anchor: middle;
  fill: #999999;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
}

.dataPointLabel{
  fill: #000000;
  text-anchor:middle;
  font-size: 1px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
}

/* key - MUST match fill styles */
.key1,.dataPoint1{
	fill: #ff0000;
	fill-opacity: 0.5;
	stroke: none;
	stroke-width: 1px;	
}
.key2,.dataPoint2{
	fill: #0000ff;
	fill-opacity: 0.5;
	stroke: none;
	stroke-width: 1px;	
}
.key3,.dataPoint3{
	fill-opacity: 0.5;
	fill: #00ff00;
	stroke: none;
	stroke-width: 1px;	
}
.key4,.dataPoint4{
	fill-opacity: 0.5;
	fill: #ffcc00;
	stroke: none;
	stroke-width: 1px;	
}
.key5,.dataPoint5{
	fill-opacity: 0.5;
	fill: #00ccff;
	stroke: none;
	stroke-width: 1px;	
}
.key6,.dataPoint6{
	fill-opacity: 0.5;
	fill: #ff00ff;
	stroke: none;
	stroke-width: 1px;	
}
.key7,.dataPoint7{
	fill-opacity: 0.5;
	fill: #00ff99;
	stroke: none;
	stroke-width: 1px;	
}
.key8,.dataPoint8{
	fill-opacity: 0.5;
	fill: #adff2f;
	stroke: none;
	stroke-width: 1px;	
}
.key9,.dataPoint9{
	fill-opacity: 0.5;
	fill: #cc6666;
	stroke: none;
	stroke-width: 1px;	
}
.key10,.dataPoint10{
	fill-opacity: 0.5;
	fill: #663399;
	stroke: none;
	stroke-width: 1px;	
}
.key11,.dataPoint11{
	fill-opacity: 0.5;
	fill: #339900;
	stroke: none;
	stroke-width: 1px;	
}
.key12,.dataPoint12{
	fill-opacity: 0.5;
	fill: #9966FF;
	stroke: none;
	stroke-width: 1px;	
}
.key13,.dataPoint13{
  fill: rgb(34,139,34);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

            
.key14,.dataPoint14{
  fill: rgb(212,160,221);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

		
.key15,.dataPoint15{
  fill: rgb(227,207,87);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

.key16,.dataPoint16{
  fill: rgb(237,154,33);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

.key17,.dataPoint17{
  fill: rgb(245,222,178);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

.key18,.dataPoint18{
  fill: rgb(192,192,192);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

.key19,.dataPoint19{
  fill: rgb(128,0,128);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

.key20,.dataPoint20{
  fill: #87ceeb;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}
.key21,.dataPoint21{
  fill: rgb(41,36,33);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
}

  
.keyText{
  fill: #000000;
  text-anchor:start;
  font-size: 10px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
}
